.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dedede;
}
.card {
  margin-top: 2rem;
  /* height: 20rem; */
}
.card__image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.card__post {
  width: 100%;
  margin-top: 2rem;
  /* background-color: darkslategrey; */
}
.card__post__image {
  width: 100%;
}
.card__author {
  width: 100%;
  height: 20rem;
}
.social__links ul > li a {
  width: 100%;
  margin-left: .6rem;
  color: blue;
}