/* :root {

} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  line-height: 170%;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
/* layout component styling */
.layout__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.layout__flex {
  width: 100%;
  height: 100%;
}
.sidebar__container {
  width: 20%;
  margin-top: 4rem;
}